* {
    margin: 0;
  }
  /* navigation */
  /* global button color */
  .btn-color{
    background-color: #FAD7DC;
    color: #000;
  
  }
  
  .navigation-bg{
      background-color: #EFD7E5;
  }
  
  .nav-item .nav-link {
    color: black !important;
  }
  
  /* home page carousel */
  
  .carousel{
      background-color:#FBECF1;
  }
  /* home page feature products */
  
  .pro-card:hover{
  box-shadow:  0 3px 10px #E7BDD5;
  transform: scale(1.01);
  transition: transform 0.2s;
  }
  
  /* foter  */
  
  .foot li{
      padding: 2px;
      list-style-type: none;
  }
  
  /* product page banner */
  .product_banner h1{
      width: 10%;
      margin: auto;
  
  }
  /* all products */
  .products {
    margin: 10px 0px;
  }
  .all-product {
    padding: 20px;
  }
  
  .all-product h2{
      padding: 20px 0px;
     text-align: center;
  
  }
  .product-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .product-row .product{
      width: 25%;
      box-sizing: border-box;
  }
  .product-row .product:hover{
      transform: scale(1.1);
  transition: transform .2s;
  }
  /* products by categories */
  .product_categories {
    padding: 20px;
  }
  
  .product_categories h2{
   text-align: center;
  }
  
  .categories-row{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
  }
  .category{
      width: 25%;
     
      margin-left: 10PX;
      margin-right: 10PX;
  }
  .category h4{
      text-align: center;
      padding: 15px 0px;
  }
  /* about-us page */
  
  .aboutus {
    width: 100%;
    height: 550px;
    position: relative;
  }
  .aboutus-heading {
    background-image: url(/images/aboutus.webp);
    background-repeat: no-repeat;
    background-size: cover;
  
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
  .aboutus-heading h1 {
    font-size: 40px !important;
    position: absolute;
    top: 250px;
    left: 200px;
    bottom: 0;
    right: 0;
  }
  
  .aboutus-description p {
    padding: 30px;
    margin: auto;
    width: 50%;
  }
  
  .aboutus-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .aboutus-main .aboutus-vision {
    padding: 20px;
    width: 25%;
  }
  
  .aboutus-main .aboutus-mission {
    padding: 20px;
    width: 25%;
  }
  
  
  /* single product page */
  .product-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-img {
    width: 45%;
    height: 450px;
    background-color: grey;
    border: 2px solid black;
    padding: 20px;
  }
  .product-info {
    width: 45%;
    height: 450px;
    background-color: grey;
    border: 2px solid black;
    margin: 30px;
    padding: 20px;
  }
  
  .product-title {
    padding: 25px;
  }
  
  .product-description p {
    padding-top: 25px;
  }
  
  .product-button {
    padding-top: 25px;
  }
  
  .product-quantity {
    padding-top: 25px;
  }
  
  /* customer dashboard */
  
  #container {
    width: 1280px;
    height: 600px;
  }
  
  .sec1 {
   
  
    margin-top: 30px;
    margin-left: 30px;
  }
  
  
  
  .sec2 {
    
  
    margin-top: -110px;
    margin-left: 550px;
  }
  .sec2.p2 {
    
    justify-content: space-around;
    border: 2px solid green;
    height: 60px;
    padding: 10px;
    width:  90px;
  }
  .sec3 {
    width: 740px;
    height: 300px;
  
    margin-left: 480px;
    margin-top: 50px;
  }
  h3 {
    margin-left: 24px;
    margin-top:35px ;
    
  }
  
  .tab2,
  th,
  td {
    border: 1px solid black;
    margin-left: 30px;
    width: 430px;
    height: 20px;
    border-collapse: collapse;
  }
  
  
  .CartContainer{
      width: 100%;
      height: 90%;
      border-radius: 20px;
    
  }
  
  .Head{
      margin: auto;
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f1f8f4;
  }
  
  .Heading{
      font-size: 30px;
      font-family: 'Open Sans';
      font-weight: 800;
      color: #2F3841;
  }
  
  .Action{
      font-size: 20px;
      font-family: 'Open Sans';
      font-weight: 600;
      color: #E44C4C;
      cursor: pointer;
      padding-right: 20px;
  }
  
  .Cart-Items{
      margin: auto;
      width: 90%;
      height: 50%;
      display: flex;
      background-color: #f8dfed;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
  }
  .cart-image-box{
      width: 15%;
      text-align: center;
  }
  .about{
      height: 100%;
      width: 24%;
  }
  .title{
      padding-top: 10px;
      line-height: 10px;
      font-size: 32px;
      font-family: 'Open Sans';
      font-weight: 800;
      color: #641717;
  }
  .subtitle{
      padding-top: 20px;
      line-height: 10px;
      font-size: 18px;
      font-family: 'Open Sans';
      font-weight: 400;
      color: #909090;
  }
  
  .counter{
      width: 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .counter .btn{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #d9d9d9;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-family: 'Open Sans';
      font-weight: 900;
      color: #202020;
      cursor: pointer;
  }
  .count{
      font-size: 20px;
      font-family: 'Open Sans';
      font-weight: 600;
      color: #202020;
  }
  
  .prices{
      height: 100%;
      text-align: right;
  }
  .amount{
      padding-top: 20px;
      font-size: 26px;
      font-family: 'Open Sans';
      font-weight: 800;
      color: #202020;
  }
  .save{
      padding-top: 5px;
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 600;
      color:  #E7BDD5;
      cursor: pointer;
  }
  .remove{
      padding-top: 5px;
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 600;
      color: #E44C4C;
      cursor: pointer;
  }
  
  .pad{
      margin-top: 5px;
  }
  
  hr{
      width: 66%;
      float: right;
      margin-right: 5%;
  }
  
  .summary{
      width: 90%;
  }
  .checkout{
      align-content: center;
      margin-right: 5%;
      width: 28%;
  }
  .total{
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  .Subtotal{
      font-size: 22px;
      font-family: 'Open Sans';
      font-weight: 700;
      color: #202020;
  }
  .items{
      font-size: 16px;
      font-family: 'Open Sans';
      font-weight: 500;
      color: black;
      line-height: 10px;
  }
  .total-amount{
      font-size: 36px;
      font-family: 'Open Sans';
      font-weight: 900;
      color: #202020;
  }
  .button{
      margin-top: 10px;
      width: 100%;
      height: 40px;
      border: none;
      background: linear-gradient(to bottom right, white, white);
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
      font-family: 'Open Sans';
      font-weight: 600;
      color: #202020;
  }
  
  /* contact us */
  
  .col-h2{
      text-align: center;
      color: #b43a3a;
      font-size: 40px;
  }
  
  .form_p{
      text-align: center;
      color: #a31666e8;
      font-size: 16px;
  }
  
  .contact_form{
      background-color: #fadbe8;
      padding-left: 29%;
      align-items: center;
      align-content: center;
  }
  
  .form_label{
      
      color: #393939;
      cursor: pointer;
      font-family: Tt-Chocolate;
      font-size: 15px;
      letter-spacing: 0;
      text-transform: lowercase; 
  }
  
  hr{
    margin:0px
  }
  
  .foot a{
    text-decoration: none;
    color: #000;
  }
  
  
  .form_input{
      border: none;
      width: 50%;
      border-radius: 4px;
      color: #393939;
      display: block;
      height: auto;
      letter-spacing: 0;
      padding: 0.65rem 0.75rem;
      text-transform: lowercase;
  }
  
  .form_select{
      background-color: #fff;
      border: none;
      border-radius: 4px;
      color: #393939;
      display: block;
      height: auto;
      letter-spacing: 0;
      line-height: 1.125rem;
      padding: 0.65rem 0.75rem;
      text-transform: lowercase;
      width:50%;
  }
  
  .form_btn{
      align-items: center;
      width:50%;
      font-size: .9375rem;
      height: 2.5rem;
      justify-content: center;
      letter-spacing: 0;
  }
  
  .form_option{
        
      font-size: 15px;
      height: 2.5rem;
  }
  
  
  /* Body Styles */
  body {
    clear:both;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #f8dfed; 
  }
  
  header {
      min-height: 50px;
  }
  header.dark {
      background-color: #f8dfed;
  }
  header.mega {
      background-color: #f8dfed;
  }
  /* Navigation Styles */
  
  nav {
      position: relative;
  }
  
  .dropdown-menu.show{
      padding: 10px 20px;
  }
  
  ul.dropdown-menu.show{
      display: flex;
      width: 500px;
  }
  .dropdown-menu.show > div{
      padding: 20px;
  }
  ul.main-nav {
      list-style-type: none;
     display: block;
      padding: 0px;
      
      max-width: 1275px;
      margin: 0 auto;
  }
  
  ul.main-nav > li {
      display: inline-block;
      padding: auto;
  }
  ul.main-nav > li > a {
      display: block;
      padding: 20px 30px;
      position: relative;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      box-sizing: border-box;
  }
  ul.main-nav > li:hover {
      background-color: #f9f9f9;
  }
  ul.main-nav > li:hover > a {
      color: #333;
      font-weight: 400;
  }
  ul.main-nav > li ul.sub-menu-lists {
      margin: auto 0;
      padding: 1px 0;
      list-style-type: none;
      display: block;
  }
  ul.main-nav > li ul.sub-menu-lists > li {
      padding: auto;
    width: 100%;
      margin-top: 2px;
  }
  ul.main-nav > li ul.sub-menu-lists > li > a {
      font-size: 1em;
      font-weight: 500;
    
  }
  
  /* Menu Icons for Devices*/
  
  .ic.menu {
      top: 14px;
    
      z-index: 20;
  }
  .ic.menu .line {
      height: 4px;
      width: 100%;
      display: block;
      /*header Underline */
      
      margin-bottom: 6px;
  }
  .ic.menu .line-last-child {
      margin-bottom: 0px;
  }
  .sub-menu-head {
      margin: 10px 0;
      border-bottom: 1px solid#f8dfed;
      width: 100%;
  }
  .banners-area {
      margin-top: 20px;
      padding-top: 15px;
  }
  @media only screen and (max-width: 768px) {
    
    
      .sub-menu-head {
          color:#fff;
      }
      .ic.menu {
          display: block;
      }
      header.dark .ic.menu .line {
          background-color: #fff;
      }
      header.mega .ic.menu .line {
          background-color: #000;
      }
      .ic.menu .line {
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
          transform-origin: center center;
      }
      .ic.menu:focus .line {
          background-color: #fff !important;
      }
      .ic.menu:focus .line:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      .ic.menu:focus .line:nth-child(2) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          margin-top: -10px;
      }
      .ic.menu:focus .line:nth-child(3) {
          transform: translateY(15px);
          opacity: 0;
      }
      .ic.menu:focus {
          outline: none;
      }
      .ic.menu:focus ~ .ic.close {
          opacity: 1;
          z-index: 21;
          outline: none;
      }
      /*
    
    .ic.menu:focus ~ .ic.close { opacity: 1.0; z-index : 21;  }
    .ic.close:focus { opacity: 0; }
    */
      
      .ic.menu:focus {
          opacity: 1;
      }
      nav {
          background-color: transparent;
      }
      /* Main Menu for Handheld Devices  */
      
      ul.main-nav {
          z-index: 2;
          padding: 50px 0;
          position: fixed;
          right: 0px;
          top: 0px;
          width: 0px;
          background-color: rgba(0, 0, 0, 1);
          height: 100%;
          overflow: auto;
          /*CSS animation applied : Slide from Right*/
          
          -webkit-transition-property: background, width;
          -moz-transition-property: background, width;
          -o-transition-property: background, width;
          transition-property: background, width;
          -webkit-transition-duration: 0.6s;
          -moz-transition-duration: 0.6s;
          -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
      }
      .ic.menu:focus ~ .main-nav {
          width: 85%;
          background-color: #fff;
      }
      ul.main-nav > * {
          -webkit-transition-property: opacity;
          -moz-transition-property: opacity;
          -o-transition-property: opacity;
          transition-property: opacity;
          -webkit-transition-duration: 0.4s;
          -moz-transition-duration: 0.4s;
          -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
          opacity: 0;
      }
      .ic.menu:focus ~ .main-nav > * {
          opacity: 1;
      }
      ul.main-nav > li > a:after {
          display: none;
      }
      ul.main-nav > li:first-child {
          border-radius: 0px;
      }
      ul.main-nav > li {
          display: block;
          border-bottom: 1px solid #444;
      }
      ul.main-nav > li > a {
          font-weight: 600;
      }
      ul.main-nav > li ul.sub-menu-lists > li a {
          color:#f8dfed;
          font-size: 14px;
      }
      .sub-menu-head {
          font-size: 16px;
      }
      ul.main-nav > li:hover {
          background-color: transparent;
      }
      ul.main-nav > li:hover > a {
          color:#f8dfed ;
          text-decoration: none;
          font-weight: 600;
      }
      .ic.menu:focus ~ ul.main-nav > li > div.sub-menu-block {
          border-left: 0px solid #ccc;
          border-right: 0px solid #ccc;
          border-bottom: 0px solid #ccc;
          position: relative;
          visibility: visible;
          opacity: 1.0;
      }
      .sub-menu-block {
          padding: 0 30px;
      }
      .banners-area {
          padding-bottom: 0px;
      }
      .banners-area div {
          margin-bottom: 15px;
      }
      .banners-area {
          border-top: 1px solid #444;
      }
  }
  @media only screen and (min-width: 769px) {
      .ic.menu {
          display: none;
      }
      /* Main Menu for Desktop Devices  */
      
      ul.main-nav {
          display: block;
          position: relative;
      }
      .sub-menu-block {
          padding: 15px;  
       
      }
      /* Sub Menu */
      
      ul.main-nav > li > div.sub-menu-block {
        
        visibility: hidden;
        
          background-color: #fff;
          position: absolute;
          margin-top: 0px;
          min-width: 48.8%;
        max-width:100%;
          color: #333;
        left:0px; /*--controls sub block starting location --*/
        box-shadow:  1px 1px rgba(0,0,0,0.5);
          box-sizing: border-box;
          z-index: 3;
          font-size: 16px;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          opacity: 0;
        
          /*CSS animation applied for sub menu : Slide from Top */
          
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          -webkit-transform: rotateX(90deg);
          -moz-transform: rotateX(90deg);
          -ms-transform: rotateX(90deg);
          transform: rotateX(90deg);
          -webkit-transform-origin: top center;
          -ms-transform-origin: top center;
          transform-origin: top center;
      }
     #five-block {width: 100%;}
      ul.main-nav > li:hover > div.sub-menu-block {
          background-color: #f9f9f9;
          
          visibility: visible;
          opacity: 1;
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          -ms-transform: rotateX(0deg);
          transform: rotateX(0deg);
      }
      ul.main-nav > li > div.sub-menu-block > * {
          -webkit-transition-property: opacity;
          -moz-transition-property: opacity;
          -o-transition-property: opacity;
          transition-property: opacity;
          -webkit-transition-duration: 0.4s;
          -moz-transition-duration: 0.4s;
          -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
          opacity: 0;
        
      }
      ul.main-nav > li:hover > div.sub-menu-block > * {
          opacity: 1; 
      }
      .sub-menu-head {
          font-size: 20px;
        
      }
      /* List Separator: Outer Border */
      
      header.dark ul.main-nav > li > a {
          border-right: 1px solid #bbb;
      }
      header.mega ul.main-nav > li > a {
          border-right: 1px solid #666;
      }
      /* List Separator: Inner Border */
      
      ul.main-nav > li > a:after {
          content: '';
          width: 1px;
          height: 60x;
          position: absolute;
          right: 0px;
          top: 0px;
          z-index: 2;
      }
      header.dark ul.main-nav > li > a:after {
          background-color: #777;
      }
      header.mega ul.main-nav > li > a:after {
          background-color: #999;
      }
      /* Drop Down/Up Arrow for Mega Menu */
      
      ul.main-nav > li > a.mega-menu > span {
          display: block;
          
      }
      ul.main-nav > li > a.mega-menu > span:after {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #fff;
          content: '';
          background-color: transparent;
          display: inline-block;
          margin-left: 10px;
          vertical-align: middle;
      }
      ul.main-nav > li:hover > a.mega-menu span:after {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 0px solid transparent;
          border-bottom: 5px solid #666;
      }
      .banners-area {
          border-top: 1px solid #ccc;
      }
  }
  /**************Additions****************/
  
  
  /* 5 Columns */
  
  .col-xs-15,
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;   
    
  }
  .col-xs-15 {
      width: 20%;
      float: left;
  }
  @media (min-width: 768px) {
      .col-sm-15 {
          width: 20%;
          float: left;
      }
  }
  @media (min-width: 992px) {
      .col-md-15 {
          width: 20%;
          float: left;
      }
  }
  @media (min-width: 1200px) {
      .col-lg-15 {
         
          float: left;
      }
  }
  a,
  a:active,
  a:visited,
  a:link {
      color: #599ab9;
      text-decoration: none;
  }
  a:hover {
      color: black;
  }
  
  /* Hover dropdown */
  .dropdown ul.dropdown-menu {
      margin-top: 0;
  }
  
  /*To avoid unwanted close*/
  .hover_drop_down:hover ul.dropdown-menu {
     margin-top: 2px;
      display: inline-block;
      position: absolute;
      top: auto;
      left: auto;
      z-index: 1;
  }
  .dropdown-menu>li>a {
     display: block;
    margin: 10px;
    padding-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      color: #f8dfed;
      
  }
  .sub-menu-head{color:000;}



  

  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{ margin: 0; padding: 0;}
body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background: #eee;
}
.intro{
   background: #fff;
   padding: 60px 30px;
   color: #333;
   margin-bottom: 15px;
   line-height: 1.5;
   text-align: center;
}
.intro h1 {
   font-size: 18pt;
   padding-bottom: 15px;

}
.intro p{
   font-size: 14px;
}

.action{
   text-align: center;
   display: block;
   margin-top: 20px;
}

a.btn {
  text-decoration: none;
  color: #666;
   border: 2px solid #666;
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}
a.btn:hover{
   background: #666;
   color: #fff;
    transition: .3s;
-webkit-transition: .3s;
}
.btn:before{
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}
.github:before{content: "\f09b"}
.down:before{content: "\f019"}
.back:before{content:"\f112"}
.credit{
    background: #fff;
    padding: 12px;
    font-size: 9pt;
    text-align: center;
    color: #333;
    margin-top: 40px;

}
.credit span:before{
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}
.credit a{
   color: #333;
   text-decoration: none;
}
.credit a:hover{
   color: #1DBF73; 
}
.credit a:hover:after{
    font-family: FontAwesome;
    content: "\f08e";
    font-size: 9pt;
    position: absolute;
    margin: 3px;
}
main{
  background: #fff;
  padding: 20px;
  
}

article li{
   color: #444;
   font-size: 15px;
   margin-left: 33px;
   line-height: 1.5;
   padding: 5px;
}
article h1,
article h2,
article h3,
article h4,
article p{
   padding: 14px;
   color: #333;
}
article p{
   font-size: 15px;
    line-height: 1.5;
}
 
@media only screen and (min-width: 1166px){
    main{
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; 
      padding: 24px;
    }


}

.set-overlayer,
.set-glass,
.set-sticky {
	cursor: pointer;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	color: #333;
	font-size: 16px;
}
.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
	font-family: FontAwesome;
	font-size: 18pt;
	position: relative;
	float: right;
}
.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
	content: "\f204";
	transition: .6s;
}

.to-active:after {
	content: "\f205";
	color: #008080;
	transition: .6s;
}
.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
	margin: 10px;
	background: #f2f2f2;
	border-radius: 5px;
	border: 2px solid #f1f1f1;
	box-sizing: border-box;
}
/* Syntax Highlighter*/

pre.prettyprint {
	padding: 15px !important;
   margin: 10px;
	border: 0 !important;
  background: #f2f2f2;
  overflow: auto;
}

.source {
	white-space: pre;
	overflow: auto;
	max-height: 400px;
}
code{
    border:1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
}


nav {
    margin-bottom: 1em !important;
  }
  
  .cart {
    box-shadow: 0 0 5px #DDD;
    padding: 20px;
  }